<div class="container w-100 flex flex-column align-items-center justify-content-center login-container">
    <h4 class="text-center mb-4 ">Kitchen<span style="color:#FF5F15;">Companion</span></h4>
    
    <form [formGroup] = "formGroup" (ngSubmit)="logIn()">

        <div class="form flex flex-column gap-3 ">
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" >
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" >
            <button class="btn-orange">Login</button>
            <div class="w-full text-center ">Don't have an account? <a (click)="goToSignup()" class="text-orange text fw-semibold">
                Signup</a>
            </div>
        </div>

    </form>
</div>