.recipe-information{
    background-color:  #FDFBFA;
    border-radius: 15px;
}

.recipe-info > div{
    margin-bottom: .8em;
}

.select-image{
    width: 50%;
}

.select-image img{
    height: 3rem;
    width: 3rem;
}
textarea{
    resize: none;
}
