<div class="container mt-4 w-50">
    <div class="heading fw-bold text-center fs-4"> Fill the following information to add a new recipe</div>
    <hr>
        <div class="recipe-information d-flex flex-column justify-content-center align-items-center pt-3">
            <div class="title fw-semibold fs-5">Recipe Information</div>
            
            <form class="w-75 align-items-center recipe-info">
                <div class="form-group mt-3 select-image">
                    <button class="form-control image-btn text-left ps-3 d-flex justify-content-between">
                        <img src="../../../../../assets/image/picture.svg"> 
                        <div class="text-right">
                            Add Photo <span> <br> Max 3mb</span>
                        </div>
                    </button>
                </div>

                <div class="form-group">
                  <label for="recipe-name">Recipe Name</label>
                  <input type="email" class="form-control" id="recipe-name">
                </div>

                <div class="field">
                    <label for="state">Select Category</label>
                    <select id="state" class="form-control w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Dessert</option>
                        <option>Appetizer</option>
                    </select>
                </div>

                <div class="field">
                    <label for="state">Prep time</label>
                    <select id="state" class="form-control w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                        <option>10mins</option>
                        <option>30mins</option>
                        <option>1hour</option>
                        <option>2hrs</option>
                    </select>
                </div>

                <div class="field mb-5">
                    <label for="state">Difficulty Level</label>
                    <select id="state" class="form-control w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>
            </form>
        </div>


        <div class="recipe-information d-flex flex-column justify-content-center align-items-center pt-3 mt-4">
            <div class="title fw-semibold fs-5">Add Ingredients</div>
            
            <form class="w-75 align-items-center ingredient-info mt-3 mb-4"> 
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="30" pInputTextarea class="form-control" placeholder="List all ingredients. Each ingredient should be separated with enter "></textarea>
                    <!-- <label for="float-input">Summary</label> -->
                    <button class="btn-orange mt-2"><i class="pi pi-plus me-1 fs-6"></i> Add</button>
                </span>
            </form>
        </div>
        
        
        <div class="recipe-information d-flex flex-column justify-content-center align-items-center pt-3 mt-4">
            <div class="title fw-semibold fs-5">Add Directions</div>
            
            <form class="w-75 align-items-center ingredient-info mt-3 mb-4"> 
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="30" pInputTextarea class="form-control" placeholder="Explain all steps. separate steps by pressing enter "></textarea>
                    <!-- <label for="float-input">Summary</label> -->
                    <button class="btn-orange mt-2"><i class="pi pi-plus me-1 fs-6"></i> Add</button>
                </span>
            </form>
        </div>

        <div class="btns d-flex justify-content-between mt-4 mb-6">
            <button class="btn-red mt-2">Cancel Creation</button>
            <button class="btn-orange mt-2"><i class="pi pi-plus me-1 fs-6"></i> Add new recipe</button>
        </div>
</div>