<div class="container flex flex-column align-items-center justify-content-center signup-container">
    <h4 class="text-center mb-4 ">Kitchen<span style="color:#FF5F15;">Companion</span></h4>

    <form [formGroup] = "formGroup" (ngSubmit)="register()">

        <div class="form flex flex-column gap-3">
            <input type="text" class="form-control" id="username" placeholder="Username" formControlName="username">
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" formControlName="confirm_password">
            <button class="btn-orange">Sign Up</button>
            <div class="w-full text-center ">Already have an account? <a  class="text-orange text fw-semibold" (click)="goToSignin()">
                Login</a>
            </div>
        </div>

    </form>
</div>
