<div class="container w-100 flex flex-column align-items-center justify-content-center signup-container">
    <h4 class="text-center mb-4 ">Kitchen<span style="color:#FF5F15;">Companion</span></h4>
    <div class="form flex flex-column gap-3 ">
        <input type="text" class="form-control" id="username" placeholder="Username">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <input type="password" class="form-control" id="password" placeholder="Confirm password">
        <button class="btn-orange">Signin</button>
        <div class="w-full text-center ">Already have an account? <a  class="text-orange text" (click)="goToSignin()">
            Login</a>
        </div>
    </div>
</div>
