<div class="container w-100 flex justify-content-center align-items-center size">
    <div class="content flex flex-column gap-3 text-center">
        <div class="header fw-bold fs-3">Kitchen<span style="color: #FF5F15;">Companion</span></div>
        <div class="text">Looking for a way to spice up your meals,and impress your<br> taste buds?
        Look no further than our recipe book app</div>
        <div class="button">
            <button class="button btn-orange" (click)="goToLogin()">Get Started</button>
        </div>
    </div>
</div>