<div class="body-container">
  <nav class="navbar bg-body-tertiary shadow">
      <div class="container-fluid">
          <a class="navbar-brand fw-bold">Kitchen<span style="color:#FF5F15;">Companion</span></a>
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search a recipe or ingredient"
                  aria-label="Search">
              <button class="btn button" type="submit">Search</button>
          </form>
      </div>
  </nav>
  <div class="container content">
    <h3 class="text-center fw-bold">Corn-fufu and Huckleberry</h3>
    <hr>


  </div>