<div class="body-container">
    <nav class="navbar bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand">Kitchen<span style="color:#FF5F15;">Companion</span></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search a recipe or ingredient"
                    aria-label="Search">
                <button class="btn button" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container banner">
        <div class="row">
            <div class="col-10">
                ` <div class="left-text fw-bold justify-content-start">
                    Discover<span style="color:#FF5F15;"><br>Recipes</span>
                </div>
            </div>
            <div class="col-2">
                <div class="right-text fw-bold justify-content-end" style="color:#ffffff">
                    Healthy recipes, <br>Healthy life
                </div>
            </div>
        </div>
    </div>
</div>