.search{
    width: 15rem;
}

.button{
    border: 1px solid #ff5f15;
    background-color: transparent;
    color: #ff5f15;


}
.button:hover{
    // font-weight: bold;
    color: #ffffff;
    background-color: #ff5f15;
}
.left-col{
    background:  url('../../../assets/image/achu.png');
    background-size: cover;
}


.right-col{

    background-color: #0F0F2D;

}

.right-text{
}

.create-button{
    opacity: 1;
    background-color: #ff5f15;
}

.cards > .card-1{
    padding: 1em 3em 0 1em;
    border: solid rgb(213, 213, 213) 1px;
}

.food-cards > .food-card-1 > img{
    height: 180px;
    width: 250px;
}

.food-cards > .food-card-1{
    border: 1px solid  rgb(213, 213, 213) ;
    border-radius: 12px;
    padding: 1em;
}
