
.button{
    border: 1px solid #ff5f15;
    background-color: transparent;
    color: #ff5f15;


}
.button:hover{
    font-weight: bold;
    color: #ffffff;
    background-color: #ff5f15;
}
.left-text{
    background-image:url(../../../assets/image/achu.png);
}

.right-text{
    background-color: #0F0F2D;
}
.banner{

    background-color: #ff5f15;
    height: 200px;
}
