<div class="body-container">
    <nav class="navbar bg-body-tertiary shadow">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-4">Kitchen<span style="color:#FF5F15;">Companion</span></a>
            <form class="d-flex justify-content-end" role="search">
                <input class="form-control me-2 search" type="search" placeholder="search recipe or ingredient" aria-label="Search">
                <button class="btn button" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container banner">
        <div class="row mt-4  d-flex gap-5">
            <div class="col-9 left-col">
                    <div class=" fw-bold justify-content-start text-white fs-3 pl-6">
                    Discover<span style="color:#FF5F15;"><br>Recipes</span>
                    </div>

                    <p class="text-white fs-5 pl-6 justify-content-start fw-bold"><br>Indulge your taste buds <br>and unleash your inner chef</p>
            </div>
            
            <div class="col-2 right-col">
                <div class="info ml-3 fs-5">
                    <div class="icon"><img src="../../../assets/image/food.svg" alt=""></div>
                    <div class="right-text fw-bold justify-content-end mt-2" style="color:#ffffff">
                        Healthy recipes, <br>Healthy life
                    </div>
                    <button pRipple pButton class="text-white mt-3 btn create-button fw-semibold" type="submit"><span class="bi-plus-lg"></span>

                          <i class="pi pi-plus me-1 fs-6"></i>Create New</button>
                </div>
                
            </div>
        </div>  
    </div>


<!-- Categories -->

    <div class="container mt-4">
        <div class="header text-center fw-semibold fs-5">Categories</div>
        <div class="cards d-flex justify-content-center gap-8 mt-4">
            <div class="card-1">
                <img src="../../../assets/image/coffee.svg" alt="coffee-mug">
                <p class="text fw-semibold">Breakfast <br> Recipes</p>
            </div>
            <div class="card-1">
                <img src="../../../assets/image/lunch.svg" alt="coffee-mug">
                <p class="text fw-semibold">Breakfast <br> Recipes</p>
            </div>
            <div class="card-1">
                <img src="../../../assets/image/wine.svg" alt="coffee-mug">
                <p class="text fw-semibold">Breakfast <br> Recipes</p>
            </div>
            <div class="card-1">
                <img src="../../../assets/image/dessert.svg" alt="coffee-mug">
                <p class="text fw-semibold">Breakfast <br> Recipes</p>
            </div>
            <div class="card-1">
                <img src="../../../assets/image/shaved-ice.svg" alt="coffee-mug">
                <p class="text fw-semibold">Breakfast <br> Recipes</p>
            </div>
        </div>
    </div>


<!-- Suggested Recipes -->
    <div class="container mt-6">
        <div class="header text-center fw-semibold fs-5">Suggested Recipes for you</div>

        <div class="food-cards d-flex justify-content-center gap-6 mt-4">

            <div class="food-card-1">
                <img src="../../../assets/image/achu-plate.jpg" alt="coffee-mug">
                <p class="mt-1 text-center fw-semibold fs-5">Achu</p>
                <div class="info d-flex gap-8 justify-content-center">
                    <div class="category fw-semibold fs-6">Category <span class="fs-6 fw-light"> <br> Dinner</span></div>
                    <div class="author text-end fw-semibold fs6">Author <span class="fs-6 fw-light" > <br> Mary Silver</span></div>
                </div>
                <hr>
                <div class="review d-flex gap-7">
                    <i class="pi pi-clock me-1 fs-6"> 2 mins</i>
                    <div class="stars">
                        <i class="pi pi-star-fill me-1 fs-6 "></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star me-1 fs-6"></i>
                    </div>
                </div>
            </div>
            <div class="food-card-1">
                <img src="../../../assets/image/achombo.jpg" alt="coffee-mug">
                <p class="mt-1 text-center fw-semibold fs-5">Achombo</p>
                <div class="info d-flex gap-8 justify-content-center">
                    <div class="category fw-semibold fs-6">Category <span class="fs-6 fw-light"> <br> Dinner</span></div>
                    <div class="author text-end fw-semibold fs6">Author <span class="fs-6 fw-light" > <br> Mary Silver</span></div>
                </div>
                <hr>
                <div class="review d-flex gap-7">
                    <i class="pi pi-clock me-1 fs-6"> 2 mins</i>
                    <div class="stars">
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star me-1 fs-6"></i>
                    </div>
                </div>
            </div>
            <div class="food-card-1">
                <img src="../../../assets/image/ndole.jpg" alt="coffee-mug">
                <p class="mt-1 text-center fw-semibold fs-5">Ndole and Bobolo</p>
                <div class="info d-flex gap-8 justify-content-center">
                    <div class="category fw-semibold fs-6">Category <span class="fs-6 fw-light"> <br> Dinner</span></div>
                    <div class="author text-end fw-semibold fs6">Author <span class="fs-6 fw-light" > <br> Mary Silver</span></div>
                </div>
                <hr>
                <div class="review d-flex gap-7">
                    <i class="pi pi-clock me-1 fs-6"> 2 mins</i>
                    <div class="stars">
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star me-1 fs-6"></i>
                    </div>
                </div>
            </div>
            <div class="food-card-1">
                <img src="../../../assets/image/ekwang.jpg" alt="coffee-mug">
                <p class="mt-1 text-center fw-semibold fs-5">Ekwang</p>
                <div class="info d-flex gap-8 justify-content-center">
                    <div class="category fw-semibold fs-6">Category <span class="fs-6 fw-light"> <br> Dinner</span></div>
                    <div class="author text-end fw-semibold fs6">Author <span class="fs-6 fw-light" > <br> Mary Silver</span></div>
                </div>
                <hr>
                <div class="review d-flex gap-7">
                    <i class="pi pi-clock me-1 fs-6"> 2 mins</i>
                    <div class="stars">
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star me-1 fs-6"></i>
                    </div>
                </div>
            </div>
            <div class="food-card-1">
                <img src="../../../assets/image/eru.jpg" alt="eru">
                <p class="mt-1 text-center fw-semibold fs-5">Eru and Garri</p>
                <div class="info d-flex gap-8 justify-content-center">
                    <div class="category fw-semibold fs-6">Category <span class="fs-6 fw-light"> <br> Dinner</span></div>
                    <div class="author text-end fw-semibold fs6">Author <span class="fs-6 fw-light" > <br> Mary Silver</span></div>
                </div>
                <hr>
                <div class="review d-flex gap-7">
                    <i class="pi pi-clock me-1 fs-6"> 2 mins</i>
                    <div class="stars">
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star-fill me-1 fs-6"></i>
                        <i class="pi pi-star me-1 fs-6"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div">
        <br>
    </div>
</div>